ul
    li
        a(class='btn-floating green modal-trigger' href='#modal-order')
            i(class='material-icons' title='Заказ') account_balance_wallet
    li
        a(class='btn-floating blue modal-trigger' href='#modal-helpDesk')
            i(class='material-icons' title='Поломки') build
    li
        a(class='btn-floating red modal-trigger' href='#modal-task')
            i(class='material-icons' title='Задачи') event_available
    li
        a(class='btn-floating yellow darken-1 modal-trigger' href='#modal-shipping')
            i(class='material-icons' title='Доставка') local_shipping
    li
        a(class='btn-floating orange modal-trigger' href='#modal-custom')
            i(class='material-icons' title='Закупки') add_shopping_cart